/*
# Track these files in home
!.gitignore
!.zshrc
!.vimrc
!.p10k.zsh
!.Xresources
!.LICENSE.md


# Ignore all directories in .config
!.config/
.config/*
# Exception
!.config/alacritty/
!.config/ranger/
!.config/sxiv/
!.config/mpv/
!.config/tmux/
.config/tmux/*
!.config/tmux/tmux.conf
!.config/nvim
!.config/musikcube/
.config/musikcube/*
!.config/musikcube/hotkeys.json


!.config/Code - OSS/User/
.config/mpv/watch_later


# Ignore all in bin
!bin/
bin/*
# Exception
!bin/myfetch


!sbin/

.config/nvim/lazy-lock.json
