/*
# Track these files in home
!.gitignore
!.zshrc
!.vimrc
!.p10k.zsh
!.LICENSE.md


# Ignore all directories in .config
!.config/
.config/*
# Exception
!.config/ranger/
!.config/sxiv/
!.config/mpv/


!.config/Code - OSS/User/
